/* CSS Document */

/* Some global styles */
html { font-size:16px; line-height:22px; margin:0; padding:0; }
body { font-family: 'Open Sans', sans-serif; font-size:1rem; line-height:1.4em; margin:0; padding:0; }




/* Buttons -----------------------------------------------*/
button { color:#FFFFFF; background-color:#6A1B9A; display:inline-block; padding:1em 1.4em; font-weight:700; text-transform:uppercase; border:none; box-sizing:border-box; }



/* Main Header (Banner, Search, Menu) --------------------*/
#main-header { }
#main-header .banner { background-color:#424242; padding:10px; color:#FFFFFF; font-size:0.9rem; text-align:center; }
#main-header .banner a { color:#FFFFFF; text-decoration:underline; }
#main-header .banner #close-banner { text-decoration:none; float:right; padding:5px; font-size:1rem; line-height:0.8rem; display:block; }
#main-header #search-wrapper { position:relative; background-color:#6A1B9A; box-shadow:0 10px 10px -10px rgba(0,0,0,0.6); }
#main-header #search-wrapper #search { padding:29px 0 28px; }
#main-header #search-wrapper #search input[type=text] { width:100%; box-sizing:border-box; padding:6px 14px; border:none; font-size:1rem; line-height:1.4em; }
#main-header #search-wrapper #account-links { padding:30px 0; }
#main-header #search-wrapper #account-links a { color:#FFFFFF; font-size:0.8rem; display:inline-block; padding:4px 7px; text-decoration:underline; }
#main-header #search-wrapper #account-links a + a { border-left:solid 1px #FFFFFF; margin-left:-4px; }
#main-header #menu { background-color:#3D1059; }
#main-header #menu ul { padding:0; display:flex; margin:0; align-items:center; }
#main-header #menu ul li { display:block; padding:0; margin:0; flex-grow:1; }
#main-header #menu ul li a { text-align:center; padding:10px; display:block; font-weight:700; color:#FFFFFF; text-shadow:0 1px 5px rgba(0,0,0,0.4); text-transform:uppercase; transition:background-color 150ms; }
#main-header #menu ul li a:hover { background-color:rgba(0,0,0,0.2); text-decoration:none; }



/* Callout -----------------------------------------------*/
#callout-main { background:url(../images/hero.png) no-repeat; text-align:center; background-size:cover; padding:30px 0px 50px; }
#callout-main h1 { font-size:2rem; color:#FFFFFF; font-weight:700; }
#callout-main #sub-title { color:#FFFFFF; }
#callout-sub { background-color:#E0E0E0; padding:30px 0; }
#callout-sub #as-seen-on-wrapper { display:flex; justify-content:space-between; flex-wrap:wrap; max-height:27px; overflow:hidden; }
#callout-sub #as-seen-on-wrapper > * { flex-shrink:0; }
#callout-sub #as-seen-on-intro { color:#AAAAAA; text-transform:uppercase; }
#callout-sub .seen-on-logo { height:27px; opacity:0.3; margin:0 4px; background-image:url(../images/as-seen-on-dark.png); display:inline-block; }
#callout-sub #seen-on-cnn { width:58px; }
#callout-sub #seen-on-fox { width:37px; background-position:-57px 0; }
#callout-sub #seen-on-usa-today { width:70px; background-position:-93px 0; }
#callout-sub #seen-on-time { width:91px; background-position:-164px 0; }
#callout-sub #seen-on-forbes { width:103px; background-position:-256px 0; }
#callout-sub #seen-on-kiplinger { width:85px; background-position:-359px 0; }
#callout-sub #seen-on-early-show { width:71px; background-position:-444px 0; }
#callout-sub #seen-on-huffington-post { width:139px; background-position:-516px 0; }
#callout-sub #seen-on-washington-post { width:92px; background-position:-656px 0; }



/* Gift Cards ---------------------------------------------*/
.gift-card { margin:0 0 20px; border:solid 1px #CCCCCC; padding:6px; box-sizing:border-box; }
.gift-card .graphic { padding-bottom:64%; position:relative; margin:0 0 6px; }
.gift-card .graphic div { position:absolute; top:0; left:0; width:100%; height:100%; background-size:contain; background-repeat:no-repeat; background-position:center center; }
.gift-card .title { text-align:center; }


/* Sidebar --------------------------------------------------*/
#sidebar { }
#sidebar button { width:100%; }