
html { margin:0; padding:0; font-size:20px; }
body { margin:0; padding:0; font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif; font-size:1rem; line-height:1.4rem; }

.page { width:100%; max-width:960px; margin:auto; padding:0 20px; box-sizing:border-box; }

#main-form { max-width:600px; }
#main-form ul { margin:30px -10px; padding:0; }
#main-form ul li { display:block; clear:both; }
#main-form ul li + li { padding-top:14px; }
#main-form ul li div { float:left; padding:0 10px; box-sizing:border-box; }
#main-form label { display:block; }
#main-form input { display:block; width:100%; padding:6px 8px; font-size:1rem; font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif; box-sizing:border-box; }
#main-form input[data-valid=false] { outline:solid 1px red; }
#main-form input[data-valid=true] { outline:solid 1px green; }
#main-form button { font-size:1rem; font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif; line-height:1.4rem; }
#main-form .color-picker { position:relative; display:flex; padding:0; }
#main-form .color-picker input[type=color] { padding:0; width:37px; height:39px; }

/* Evenly spaced */
#main-form li div:first-child:nth-last-child(1) { width: 100%; }
#main-form li div:first-child:nth-last-child(2), #main-form li div:first-child:nth-last-child(2) ~ div { width: 50%; }
#main-form li div:first-child:nth-last-child(3), #main-form li div:first-child:nth-last-child(3) ~ div { width: 33.3333%; }
#main-form li div:first-child:nth-last-child(4), #main-form li div:first-child:nth-last-child(4) ~ div { width: 25%; }

@media (max-width: 480px) {
	#main-form li { padding-top:0 !important; }
	#main-form li div { width: 100% !important; }
	#main-form li + li div, #main-form li div + div { padding-top:18px !important; }
}

#submissions { margin:100px 0 0; }
#submissions table { width:100%; border-collapse:collapse; }
#submissions table thead tr th { text-align:left; }
#submissions table tbody tr td { border-bottom:solid 1px #CCCCCC; padding:6px 12px; }