
html { margin:0; padding:0; font-size:20px; }
body { margin:0; padding:0; font-size:1rem; font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace; }

.page { max-width:960px; margin:auto; width:100%; }

#calendar-title { text-align:center; margin:40px auto 20px; }
#calendar { width:100%; border-collapse:collapse; table-layout:fixed; }
#calendar th { padding:4px 12px; }
#calendar td div { position:relative; min-height:100px; border:solid 1px #CCCCCC; background-color:rgba(0,0,0,0.04); }
#calendar td div.cal-day { position:relative; min-height:100px; border:solid 1px #CCCCCC; }
#calendar td div.curr-month { display:block; background-color:#ffffff; }
#calendar td div.active-day { background-color:rgba(33,205,13,0.36); }
#calendar td div span.cal-date { padding:3px; position:absolute; top:0; left:0; margin:-1px 0 0 -1px; border:solid 1px #CCCCCC; }
#calendar thead tr th { text-align:left; }

@media (max-width: 959px) {
	#calendar thead tr th { display:none; }
	#calendar tbody tr td { display:block; }
	#calendar td div { display:none; }
	#calendar td div.curr-month { display:block; }
}